# Map() Function

The map() function applies a given funciton to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data is a list comprehensively

In [1]:
numbers=(2,34,5,6,8,2,3)

square_numbers=list(map(lambda x:x**2,numbers))
square_numbers

[4, 1156, 25, 36, 64, 4, 9]

In [2]:
# map multiple iterables 

number1=[1,2,3]
number2=[2,3,4]

added_numbers=list(map(lambda x,y: x+y, number1,number2))
added_numbers

[3, 5, 7]

In [4]:
# map function to convert a list of string to integers 

string_integers=['1','2','3','4','5']

integer_numbers=list(map(lambda x: int(x),string_integers))
print(integer_numbers)

# or 

integer_numbers=list(map(int,string_integers))
print(integer_numbers)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [5]:
# applying in-built functions 

words=['apple','mango','banana','cherry']

upper_words=list(map(str.upper,words))
upper_words

['APPLE', 'MANGO', 'BANANA', 'CHERRY']

In [6]:
# map functions to dictonaries
def get_names(people):
    return people['name']

people=[
    {'name':'amruth','age':35},
    {'name':'sharath','age':31},
    {'name':'akshath','age':37},
]

list_of_names=list(map(get_names,people))
print(list_of_names)

['amruth', 'sharath', 'akshath']